
<div class="b-example-divider"></div>

<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted">&copy; 2022 Vikas Bhalla</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a href="https://www.linkedin.com/in/vikasbhalla05/" class="btn btn-lg"><i class="fa-brands fa-linkedin"></i></a></li>
      <li class="ms-3"><a href="https://twitter.com/vikas_b5" class="btn btn-lg"><i class="fa-brands fa-twitter"></i></a></li>
      <li class="ms-3"><a href="https://wa.link/c6pjuq" class="btn btn-lg"><i class="fa-brands fa-whatsapp"></i></a></li>
    </ul>
  </footer>
</div>

</body>
</html>
